OOP/pz/.idea/
OOP/pz/pz2/bin/
OOP/pz/pz2/obj/
OOP/pz/pz3/bin/
OOP/pz/pz3/obj/
OOP/bbst/.idea/
OOP/bbst/bbst/obj/
OOP/bbst/bbst/bin/
OOP/LinkedList - lb1/.idea/
OOP/LinkedList - lb1/List/bin/
OOP/LinkedList - lb1/List/obj/
DSaA/rust/bbst/target/
DSaA/python/sorted_linked_list/.idea/
DSaA/python/sorted_linked_list/.venv/
DSaA/python/sorted_linked_list/.mypy_cache/
CDM/.idea/
CDM/venv/
CDM/code/__pycache__/
DSaA/rust/bbst/Cargo.lock
OOP/Coursework/.idea/
OOP/Coursework/Coursework/obj/
OOP/Coursework/Coursework/bin/
DSaA/python/olymp/
DSaA/rust/heap_sort/target/
DSaA/rust/heap_sort/.idea/
DSaA/rust/bbst.7z
HtHm/project
HtHm/project.7z
HtHm/звіт1.txt
HtHm/звіт2.txt
OOP/lab2/.idea
OOP/lab2/lab2/obj/Debug
OOP/lab2/lab2/bin/Debug
OOP/pz/pz4/bin
OOP/pz/pz4/obj
