{{ define "content" }}
<main class="responsive" id="main_content" hx-swap-oob="true">
    <div class="grid">
        {{ template "caretaker-info" .Caretaker }}
        {{ template "kids" . }}
    </div>
    <div hx-get="/caretakers/{{.Caretaker.CaretakerID}}" hx-trigger="ResetContent from:body"></div>
</main>
{{ end }}

{{ define "caretaker-info" }}
<article class="round s12" id="caretaker-info">
    <div class="grid no-space">
        <div class="s4 center-align">
            <img class="round small-width small-height margin" src="/images/placeholder.png">
            <div id="buttons" class="grid">
                <button class="button s12" hx-get="/caretakers/{{.CaretakerID}}/edit" hx-target="#caretaker-info"
                    hx-swap="outerHTML">
                    <i>edit</i>
                    <span>Редагувати</span>
                </button>

                <button class="error delete s12"
                    _="on click hide <button.delete/> in closest <div/> then show <button.confirm/> in closest <div/>"
                    data-loading-disable>
                    <i>delete</i>
                    <span>Видалити</span>
                </button>

                <button class="confirm secondary s6" style="display: none;"
                    _="on click hide <button.confirm/> then show <button.delete/>">
                    <i>close</i>
                </button>

                <button class="error confirm s6" id="delete-{{.CaretakerID}}" data-loading-disable
                    hx-delete="/caretakers/{{.CaretakerID}}" hx-swap="none" hx-indicator="#i-{{.CaretakerID}}"
                    style="display: none;"
                    _="on click hide <button.confirm/>then show <button.delete/> end on htmx:afterRequest js history.back()">
                    <i>check</i>
                </button>
            </div>

            <progress id="i-{{.CaretakerID}}" class="htmx-indicator"></progress>
        </div>
        <div class="s8 padding grid">
            <h3 class="s12 right-align">
                {{.Lastname}} {{.Firstname}} {{.Middlename}}
            </h3>
            <hr class="s12">
            <h6 class="s12 row">Телефон <div class="max"></div> {{.Phone}}</h6>
            <h6 class="s12 row">Електронна пошта <div class="max"></div> {{.Email}}</h6>
        </div>
    </div>
</article>
{{ end }}

{{ define "caretaker-info-edit" }}
<article class="round s12" id="caretaker-info">
    <form class="grid no-space" hx-put="/caretakers/{{.CaretakerID}}" hx-target="#caretaker-info" hx-swap="outerHTML"
        hx-vals='{"caretaker_ID": "{{.CaretakerID}}"}'>
        <div class="s4 center-align">
            <img class="round small-width small-height margin" src="/images/placeholder.png">

            <nav class="buttons row">
                <div class="max"></div>
                <button class="error button circle" hx-get="/caretakers/{{.CaretakerID}}/info"
                    hx-target="#caretaker-info" hx-swap="outerHTML">
                    <i>close</i>
                    <span>Відмінити</span>
                </button>
                <button class="button circle" submit>
                    <i>check</i>
                    <span>Застосувати</span>
                </button>
                <div class="max"></div>
            </nav>
        </div>
        <div class="s8 padding grid" hx-target="this" hx-swap="outerHTML">
            <div class="s12 grid">
                <div class="field small no-margin s12 l4">
                    <input type="text" value="{{.Lastname}}" name="lastname" required>
                </div>
                <div class="field small no-margin s12 l4">
                    <input type="text" value="{{.Firstname}}" name="firstname" required>
                </div>
                <div class="field small no-margin s12 l4">
                    <input type="text" value="{{.Middlename}}" name="middlename" required>
                </div>
            </div>
            <hr class="s12">
            </hr>
            <h6 class="s12 grid">
                <span class="s12 l7">
                    Телефон
                </span>
                <div class="field small no-margin s12 l5">
                    <input type="tel" value="{{.Phone}}" name="phone" required>
                </div>
            </h6>
            <h6 class="s12 grid">
                <span class="s12 l7">
                    Електронна пошта
                </span>
                <div class="field small no-margin s12 l5">
                    <input type="email" value="{{.Email}}" name="email" required>
                </div>
            </h6>
        </div>
    </form>
</article>
{{ end }}

{{ define "kids" }}
{{ end }}
