{{ define "title" }}
<title> {{.Caretaker.Lastname}} {{.Caretaker.Firstname}} {{.Caretaker.Middlename}} | Teacher Helper</title>
{{ end }}
{{ define "content" }}
<main class="responsive" id="main_content" hx-swap-oob="true">
    <div class="grid">
        {{ template "caretaker-info" .Caretaker }}
        {{ template "connections" . }}
    </div>
    {{ template "add-connection-dialog" . }}
</main>
{{ end }}

{{ define "caretaker-info" }}
<article class="round s6 grid" id="caretaker-info">
    <h3 class="s12 right-align">
        {{.Lastname}} {{.Firstname}} {{.Middlename}}
    </h3>
    <hr class="s12">
    <h6 class="s12 row">Телефон <div class="max"></div> {{.Phone}}</h6>
    <h6 class="s12 row">Електронна пошта <div class="max"></div> {{.Email}}</h6>

    <div id="buttons" class="grid s12">
        <button class="button s6" hx-get="/caretakers/{{.CaretakerID}}/edit" hx-target="#caretaker-info"
            hx-swap="outerHTML">
            <i>edit</i>
            <span>Редагувати</span>
        </button>

        <button class="error delete s6"
            _="on click hide <button/> in closest <div/> then show <button.confirm/> in closest <div/>"
            data-loading-disable>
            <i>delete</i>
            <span>Видалити</span>
        </button>

        <button class="confirm secondary s6" style="display: none;"
            _="on click show <button/> in closest <div/> then hide <button.confirm/>">
            <i>close</i>
        </button>

        <button class="error confirm s6" id="delete-{{.CaretakerID}}" data-loading-disable
            hx-delete="/caretakers/{{.CaretakerID}}" hx-swap="none" hx-indicator="#i-{{.CaretakerID}}"
            style="display: none;"
            _="on click hide <button.confirm/>then show <button.delete/> end on htmx:afterRequest js history.back()">
            <i>check</i>
        </button>
    </div>
</article>
{{ end }}

{{ define "caretaker-info-edit" }}
<article class="round s6" id="caretaker-info">
    <form class="grid" hx-put="/caretakers/{{.CaretakerID}}" hx-target="#caretaker-info" hx-swap="outerHTML"
        hx-vals='{"caretaker_ID": "{{.CaretakerID}}"}'>
        <div class="s12 grid">
            <div class="field small no-margin s12 l4">
                <input type="text" value="{{.Lastname}}" name="lastname" required>
            </div>
            <div class="field small no-margin s12 l4">
                <input type="text" value="{{.Firstname}}" name="firstname" required>
            </div>
            <div class="field small no-margin s12 l4">
                <input type="text" value="{{.Middlename}}" name="middlename" required>
            </div>
        </div>
        <hr class="s12" />
        <h6 class="s12 grid">
            <span class="s12 l7">
                Телефон
            </span>
            <div class="field small no-margin s12 l5">
                <input type="tel" value="{{.Phone}}" name="phone" required>
            </div>
        </h6>
        <h6 class="s12 grid">
            <span class="s12 l7">
                Електронна пошта
            </span>
            <div class="field small no-margin s12 l5">
                <input type="email" value="{{.Email}}" name="email" required>
            </div>
        </h6>

        <button class="error button s6" hx-get="/caretakers/{{.CaretakerID}}/info" hx-target="#caretaker-info"
            hx-swap="outerHTML">
            <i>close</i>
            <span>Відмінити</span>
        </button>
        <button class="button s6" submit>
            <i>check</i>
            <span>Застосувати</span>
        </button>
        <div class="max"></div>
    </form>
</article>
{{ end }}

{{ define "connections" }}
<article class="round s12 l6" id="kids">
    <div class="grid">
        <button class="button s6"
            _="on click add .active to <div.overlay/> in #add-familyconnection-dialog then add .active to <dialog/> in #add-familyconnection-dialog">
            <i>add</i>
            <span>Додати зв'язок</span>
        </button>
        <h5 class="s6 right-align">
            Пов'язані діти
        </h5>
        <hr class="s12">
        <div class="s12 grid scroll no-round middle-height" id="familyconnections">
            {{ range .Connections }}
            {{ template "connection" . }}
            {{ end }}
        </div>
    </div>
</article>
{{ end }}

{{ define "connection" }}
<div class="s12 grid" id="kid-info-{{.FamilyConnectionID}}">
    <nav class="s12">
        <h6>
            {{ .Kinship }} для
            <a href="/students/{{.Student.StudentID}}" class="link underline">
                {{.Student.Lastname}} {{initial .Student.Firstname}}. {{initial .Student.Middlename}}.
            </a>
        </h6>
        <div class="max"></div>
        <nav class="right-align">
            <progress id="i-fc-{{.FamilyConnectionID}}" class="s12 circle small htmx-indicator"></progress>
            <button class="circle error delete"
                _="on click hide <button.delete/> in closest <nav/> then show <button.confirm/> in closest <nav/>"
                data-loading-disable>
                <i>delete</i>
            </button>

            <button class="circle confirm secondary" style="display: none;"
                _="on click hide <button.confirm/> in closest <nav/> then show <button.delete/> in closest <nav/>">
                <i>close</i>
            </button>

            <button class="circle error confirm" id="delete-{{.FamilyConnectionID}}" data-loading-disable
                hx-delete="/caretakers/familyconnections/{{.FamilyConnectionID}}"
                hx-target="#kid-info-{{.FamilyConnectionID}}" hx-swap="outerHTML"
                hx-indicator="#i-fc-{{.FamilyConnectionID}}" style="display: none;"
                _="on click hide <button.confirm/> in closest <nav/> then show <button.delete/> in closest <nav/>">
                <i>check</i>
            </button>

            <button class="button circle s12" hx-get="/caretakers/familyconnections/{{.FamilyConnectionID}}/edit"
                hx-target="#kid-info-{{.FamilyConnectionID}}" hx-swap="outerHTML">
                <i>edit</i>
            </button>
        </nav>
    </nav>

    <hr class="s12">
</div>
{{ end }}

{{ define "connection-edit" }}
<div class="s12 grid" id="kid-info-{{.FamilyConnectionID}}">
    <form class="s12 row" hx-put="/caretakers/familyconnections/{{.FamilyConnectionID}}"
        hx-vals='{"caretaker_ID": "{{.Caretaker.CaretakerID}}", "student_ID": "{{.Student.StudentID}}"}'
        hx-target="#kid-info-{{.FamilyConnectionID}}" hx-swap="outerHTML">
        <div class="field small no-margin s12 l5">
            <select name="kinship" required>
                <option value="Батько" {{ if eq .Kinship "Батько" }}selected{{end}}>Батько</option>
                <option value="Мати" {{ if eq .Kinship "Мати" }}selected{{end}}>Мати</option>
                <option value="Вітчим" {{ if eq .Kinship "Вітчим" }}selected{{end}}>Вітчим</option>
                <option value="Мачуха" {{ if eq .Kinship "Мачуха" }}selected{{end}}>Мачуха</option>
                <option value="Дядько" {{ if eq .Kinship "Дядько" }}selected{{end}}>Дядько</option>
                <option value="Тітка" {{ if eq .Kinship "Тітка" }}selected{{end}}>Тітка</option>
                <option value="Брат" {{ if eq .Kinship "Брат" }}selected{{end}}>Брат</option>
                <option value="Сестра" {{ if eq .Kinship "Сестра" }}selected{{end}}>Сестра</option>
                <option value="Дідусь" {{ if eq .Kinship "Дідусь" }}selected{{end}}>Дідусь</option>
                <option value="Бабуся" {{ if eq .Kinship "Бабуся" }}selected{{end}}>Бабуся</option>
                <option value="Інше" {{ if eq .Kinship "Інше" }}selected{{end}}>Інше</option>
            </select>
        </div>
        для
        <div class="field small no-margin s12 l5">
            <div hx-get="/students/select/{{.Student.StudentID}}" hx-target="this" hx-swap="outerHTML"
                hx-trigger="revealed"></div>
        </div>
        <div class="max"></div>

        <nav class="right-align buttons row">
            <div class="max"></div>
            <button class="error button circle" hx-get="/caretakers/familyconnections/{{.FamilyConnectionID}}/info"
                hx-target="#kid-info-{{.FamilyConnectionID}}" hx-swap="outerHTML">
                <i>close</i>
                <span>Відмінити</span>
            </button>
            <button class="button circle" submit>
                <i>check</i>
                <span>Застосувати</span>
            </button>
            <div class="max"></div>
        </nav>
    </form>
    <hr class="s12">
    </hr>
</div>
{{ end }}

{{ define "add-connection-dialog" }}
<div id="add-familyconnection-dialog" _="
    on closeDialog or htmx:afterOnLoad
            remove .active from <div.overlay/> in #add-familyconnection-dialog
            then
            remove .active from <dialog/> in #add-familyconnection-dialog 
    end
">
    <div class="overlay blur" _="on click trigger closeDialog"></div>
    <dialog>
        <nav>
            <h5>Додати зв'язок</h5>
            <div class="max"></div>
            <button class="error circle small" data-loading-disable
                _="on click trigger closeDialog"><i>close</i></button>
        </nav>
        <form hx-post="/caretakers/familyconnections" hx-vals='{"caretaker_ID": "{{.Caretaker.CaretakerID}}"}'
            hx-swap="afterbegin" hx-target="#familyconnections" autocomplete="false">
            <fieldset class="round grid">
                <div class="field label border small round s12">
                    <select name="kinship" required>
                        <option value="Батько">Батько</option>
                        <option value="Мати">Мати</option>
                        <option value="Вітчим">Вітчим</option>
                        <option value="Мачуха">Мачуха</option>
                        <option value="Дядько">Дядько</option>
                        <option value="Тітка">Тітка</option>
                        <option value="Брат">Брат</option>
                        <option value="Сестра">Сестра</option>
                        <option value="Дідусь">Дідусь</option>
                        <option value="Бабуся">Бабуся</option>
                        <option value="Інше">Інше</option>
                    </select>
                    <label>Роль</label>
                </div>

                <div class="field label border small round s12">
                    <div hx-get="/students/select/-1" hx-target="this" hx-swap="outerHTML" hx-trigger="revealed"></div>
                    <label>Учень</label>
                </div>

                <nav class="row s12">
                    <div class="max"></div>
                    <button class="align-right" type="submit">Додати</button>
                </nav>
            </fieldset>
        </form>
    </dialog>
</div>
{{ end }}
