{{ define "content" }}
<main class="margin grid" id="main_content" hx-boost="true">
    <style>
        #days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 10px;
        }

        .day {
            aspect-ratio: 1 / 1 !important;
            transition: background-color 0.3s;
        }

        .day:hover:not(.selected) {
            background-color: var(--surface-bright) !important;
            cursor: pointer;
        }

        .pin {
            aspect-ratio: 1 / 1 !important;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            margin: 5px;
        }

        .lesson {
            transition: background-color 0.3s;
        }

        .lesson:hover {
            background-color: var(--surface-bright) !important;
            cursor: pointer;
        }
    </style>

    <div class="s12" hx-get="/lessons/{{.Calendar.CurrentYear}}/{{.Calendar.CurrentMonth}}/{{.Calendar.CurrentDay}}/0"
        hx-trigger="load" hx-swap="outerHTML"></div>

    <div class="s12 tabs" id="tabs">
        <a class="active"
            _="on click toggle .active on <a/> in closest <div/> then toggle .active on .page in closest <main/>">Календар</a>
        <a
            _="on click toggle .active on <a/> in closest <div/> then toggle .active on .page in closest <main/>">Список</a>
    </div>
    <div class="grid s12 active page">
        <article class="s2" id="sidebar">
            <h6>
                <i>filter_alt</i>
                <span>Фільтри</span>
            </h6>
            {{ template "filters" .Calendar }}
        </article>
        <article class="s6 grid" id="calendar" hx-swap-oob="outerHTML"></article>
        <article class="s4">
            <div class="page padding active grid" id="lessons" hx-include="#filters" hx-swap-oob="outerHTML"></div>
        </article>

    </div>
    <div class="page s12">
        <article class="s12">
            <table id="total_lessons" class="stripe">
                <thead>
                    <tr>
                        <th>Предмет</th>
                        <th>Тема</th>
                        <th>Дата</th>
                        <th>Час початку</th>
                        <th>Номер</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Calendar.Lessons }}
                    <tr>
                        <td><a hx-get="/subjects/{{.Subject.SubjectID}}"
                                class="link active underline">{{.Subject.Title}}</a></td>
                        <td><a hx-get="/lesson/{{.LessonID}}" class="link active underline">{{.Topic}}</a></td>
                        <td><a hx-get='/lessons/{{.StartDate.Format "2006/01/02"}}/0' hx-swap="none"
                                class="link active underline"
                                _="on click toggle .active on <a/> in <div#tabs/> then toggle .active on .page in closest <main/>">{{.StartDate.Format
                                "2006-01-02"}}</a></td>
                        <td>{{.StartTime.Time.Format "15:04"}}</td>
                        <td>{{.LessonNumber}}</td>
                    </tr>
                    {{ end }}
            </table>
            <script>
                var table = new DataTable('#total_lessons', {
                    language: {
                        url: "https://cdn.datatables.net/plug-ins/2.1.8/i18n/uk.json"
                    },
                    paging: false
                });
            </script>
        </article>
    </div>
    {{ template "add-lesson-dialog" . }}
</main>
{{ end }}

{{ define "calendar" }}
<article class="grid s6" id="calendar" hx-swap-oob="outerHTML">
    <div class="grid s12">
        <div class="s4"></div>
        <div class="s8 grid">
            <button class="s2 circle" hx-get="/lessons/{{.CurrentYear}}/{{.CurrentMonth}}/{{.CurrentDay}}/-1"
                hx-push-url="true" hx-swap="none">
                <i>arrow_upward</i>
            </button>
            <h3 class="s8 center-align">{{.CurrentMonthName}} - {{.CurrentYear}}</h3>
            <button class="s2 circle" hx-get="/lessons/{{.CurrentYear}}/{{.CurrentMonth}}/{{.CurrentDay}}/1"
                hx-push-url="true" hx-swap="none">
                <i>arrow_downward</i>
            </button>
        </div>
    </div>

    <hr class="s12" />
    <nav class="s12 row">
        <h6 class="max center-align">Пн</h6>
        <h6 class="max center-align">Вт</h6>
        <h6 class="max center-align">Ср</h6>
        <h6 class="max center-align">Чт</h6>
        <h6 class="max center-align">Пт</h6>
        <h6 class="max center-align">Сб</h6>
        <h6 class="max center-align">Нд</h6>
    </nav>

    <hr class="s12" />
    <div id="days" class="days s12">
        {{ range .Days }}
        <article id="day-{{.Month}}-{{.Day}}"
            class="day no-margin {{day . $.CurrentMonth}} {{if .Selected}}selected{{end}} border center-align middle-align"
            hx-get="/lessons/{{.Year}}/{{.Month}}/{{.Day}}/0" hx-include="#filters" hx-swap="none" hx-push-url="true">
            <h6>{{ .Day }}</h6>

            {{ if and (ne (len .Lessons) 0) (not .Selected) }}
            <div class="pin error absolute top right"></div>
            {{ end }}
        </article>
        {{ end }}
    </div>

    <div style="height: 100%;"></div>
</article>
{{ end }}

{{ define "lessons" }}
<div class="page padding active grid s3" id="lessons" hx-swap-oob="outerHTML">
    <nav class="row s12 bottom-margin">
        <h5>{{.Calendar.CurrentMonthName}} {{.Calendar.CurrentDay}}</h5>
        <div class="max"></div>
        <button class="circle" _="
            on click
                add .active to <div.overlay/> in #add-lesson-dialog
            then
                add .active to <dialog/> in #add-lesson-dialog
            end
        ">
            <i>add</i>
        </button>
    </nav>
    <hr class="s12" />
    <div class="s12 grid top-padding" id="lessons-list" style="height: 100%;">
        {{ range .Lessons }}
        {{ template "lesson" . }}
        {{ end }}
    </div>
</div>
{{ end }}

{{ define "lesson" }}
<article class="s12 surface-variant lesson">
    <a hx-get="/lesson/{{.LessonID}}" hx-push-url="true" class="grid">
        <div class="s3 vertical center-align middle-align">
            <i>counter_{{.LessonNumber}}</i>
            <span>{{.StartTime.Time.Format "15:04" }}</h4>
        </div>
        <h6 class="s9 left-align middle-align">{{.Subject.Title}}</h6>
        <div class="tooltip"><b>{{.Topic}}</b></div>
    </a>
</article>
{{ end }}

{{ define "filters" }}
<script id="filters_path" hx-swap-oob="outerHTML">
</script>
<script>
    // Функція для зміни стану всіх чекбоксів
    function onChangeAll() {
        const allSubjectsCheckbox = document.getElementById('all_subjects');
        const subjectCheckboxes = document.querySelectorAll('#subject_list input[type="checkbox"]');
        const isChecked = allSubjectsCheckbox.checked;

        subjectCheckboxes.forEach(checkbox => {
            checkbox.checked = isChecked;
        });
    }

    // Скидання стану "Всі", якщо інший чекбокс змінено
    function onChange() {
        const allSubjectsCheckbox = document.getElementById('all_subjects');
        const subjectCheckboxes = document.querySelectorAll('#subject_list input[type="checkbox"]');
        const everyChecked = Array.from(subjectCheckboxes).every(cb => cb.checked);
        const everyUnchecked = Array.from(subjectCheckboxes).every(cb => !cb.checked);
        console.log(everyChecked, everyUnchecked);
        if (!this.checked) {
            allSubjectsCheckbox.checked = false;
        }

        if (everyChecked || everyUnchecked) {
            allSubjectsCheckbox.checked = true;
        }
    }
</script>
<form hx-get="/lessons/{{.CurrentYear}}/{{.CurrentMonth}}/{{.CurrentDay}}/0" hx-include="#filters" hx-swap="none"
    hx-trigger="change" class="grid" id="filters" autocomplete="off">
    <h6 class="small s12">Оберіть один або більше</h6>
    <nav class="vertical s12">
        <label class="checkbox">
            <input type="checkbox" name="subject_ID" id="all_subjects" value="-1" checked onclick="onChangeAll()">
            <span>Всі</span>
        </label>
        <hr />
        <nav class="vertical" id="subject_list" hx-get="/subjects/multiselect" hx-swap="innerHTML"
            hx-trigger="intersect once"></nav>
    </nav>
</form>
{{ end }}

{{ define "add-lesson-dialog" }}
<div id="add-lesson-dialog" hx-swap-oob="outerHTML" _="
    on closeDialog or htmx:afterOnLoad
            remove .active from <div.overlay/> in #add-lesson-dialog
            then
            remove .active from <dialog/> in #add-lesson-dialog 
    end
">
    <div class="overlay blur" _="on click trigger closeDialog"></div>
    <dialog>
        <nav>
            <h5>Додати урок</h5>
            <div class="max"></div>
            <button class="error circle small" data-loading-disable
                _="on click trigger closeDialog"><i>close</i></button>
        </nav>
        <form hx-post='/lessons/{{.Calendar.CurrentDate.Format "2006-01-02"}}' hx-swap="afterbegin"
            hx-target="#lessons-list" autocomplete="false">
            <fieldset class="round grid">
                <div class="prefix field border small round s4">
                    <i>tag</i>
                    <select name="lesson_number">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>

                <div class="prefix field label border small round s8">
                    <i>schedule</i>
                    <input type="time" name="start_time" required>
                    <label>Час початку</label>
                </div>

                <div class="field label border small round s12">
                    <div hx-get="/subjects/select/-1" hx-target="this" hx-swap="outerHTML" hx-trigger="revealed"></div>
                    <label>Предмет</label>
                </div>

                <div class="field label border small round s12">
                    <input type="text" name="topic" required>
                    <label>Тема</label>
                </div>

                <nav class="row s12">
                    <div class="max"></div>
                    <button class="align-right" type="submit">Додати</button>
                </nav>
            </fieldset>
        </form>
    </dialog>
</div>
{{ end }}

{{ define "oob-content" }}
<script id="filters_path" hx-swap-oob="outerHTML">
    var form = document.querySelector('form#filters');
    form.setAttribute('hx-get', `/lessons/{{.Calendar.CurrentYear}}/{{.Calendar.CurrentMonth}}/{{.Calendar.CurrentDay}}/0`);
    htmx.process(form);
</script>
{{ template "lessons" . }}
{{ template "calendar" .Calendar }}
{{ template "add-lesson-dialog" . }}
{{ end }}
