{{ define "content" }}
<main class="responsive grid" id="main_content" hx-swap-oob="true" style="align-items: center;">
    <div class="s12 l4">
        <article class="small middle-align center-align">
            <h1 class="center-align">
                <a href="/students" class="link active underline"> Учні</a>
                <i class="extra round border large-padding">groups</i>
            </h1>
        </article>
    </div>
    <div class="s12 l4">
        <article class="small middle-align center-align">
            <h1 class="center-align">
                <a href="/caretakers" class="link active underline">Опікуни</a>
                <i class="extra round border large-padding">family_restroom</i>
            </h1>
        </article>
    </div>
    <div class="s12 l4">
        <article class="small middle-align center-align">
            <h1 class="center-align">
                <a href="/subjects" class="link active underline">Предмети</a>
                <i class="extra round border large-padding">history_edu</i>
            </h1>
        </article>
    </div>
    <div class="s2"></div>
    <div class="s12 l4">
        <article class="small middle-align center-align">
            <h1 class="center-align">
                <a href="/lessons" class="link active underline">Уроки</a>
                <i class="extra round border large-padding">book</i>
            </h1>
        </article>
    </div>
    <div class="s12 l4">
        <article class="small middle-align center-align">
            <h1 class="center-align">
                <a href="/stats" class="link active underline">Статистика</a>
            </h1>
        </article>
    </div>
</main>
{{ end }}
