{{ define "content" }}
<main class="responsive" id="main_content" hx-swap-oob="true">
    <div class="grid">
        {{ template "student-info" .Student }}
        {{ template "student-health" .Student }}
        {{ template "parents" . }}
    </div>
    <div hx-get="/students/{{.Student.StudentID}}" hx-trigger="ResetContent from:body"></div>
</main>
{{ end }}

{{ define "student-info" }}
<article class="round s12 l8" id="student-info">
    <div class="grid no-space">
        <div class="s4 center-align">
            <img class="round small-width small-height margin" src="/images/placeholder.png">
            <div id="buttons" class="grid">
                <button class="button s12" hx-get="/students/{{.StudentID}}/edit" hx-target="#student-info"
                    hx-swap="outerHTML">
                    <i>edit</i>
                    <span>Редагувати</span>
                </button>

                <button class="error delete s12" _="on click hide <button.delete/>  then show <button.confirm/>"
                    data-loading-disable>
                    <i>delete</i>
                    <span>Видалити</span>
                </button>

                <button class="confirm secondary s6" style="display: none;"
                    _="on click hide <button.confirm/> then show <button.delete/>">
                    <i>close</i>
                </button>

                <button class="error confirm s6" id="delete-{{.StudentID}}" data-loading-disable
                    hx-delete="/students/{{.StudentID}}" hx-swap="none" hx-indicator="#i-{{.StudentID}}"
                    style="display: none;"
                    _="on click hide <button.confirm/>then show <button.delete/> end on htmx:afterRequest js history.back()">
                    <i>check</i>
                </button>
            </div>

            <progress id="i-{{.StudentID}}" class="htmx-indicator"></progress>
        </div>
        <div class="s8 padding grid">
            <h3 class="s12 right-align">
                {{.Lastname}} {{.Firstname}} {{.Middlename}}
            </h3>
            <hr class="s12">
            <h6 class="s12 row">Особова справа <div class="max"></div> {{.PersonalFileNumber}}</h6>
            <h6 class="s12 row">Форма навчання <div class="max"></div> {{.FormOfEducation}}</h6>
            <h6 class="s12 row">Народився <div class="max"></div> {{.Birthday.Format "02.01.2006"}}
            </h6>
            <h6 class="s12 row">Стать <div class="max"></div> {{if eq .Gender
                "F"}}Дівчина{{else}}Хлопець{{end}} </h6>
            <p class="s12" style="overflow-wrap: break-word;">
                {{if .Note}}{{.Note}}{{else}}Примітка відсутня{{end}}
            </p>
        </div>
    </div>
</article>
{{ end }}

{{ define "student-info-edit"}}
<article class="round s12 l8" id="student-info">
    <form class="grid no-space" hx-put="/students/{{.StudentID}}" hx-target="#student-info" hx-swap="outerHTML"
        hx-vals='{"student_ID": "{{.StudentID}}"}'>
        <div class="s4 center-align">
            <img class="round small-width small-height margin" src="/images/placeholder.png">

            <nav class="buttons row">
                <div class="max"></div>
                <button class="error button circle" hx-get="/students/{{.StudentID}}/info" hx-target="#student-info"
                    hx-swap="outerHTML">
                    <i>close</i>
                    <span>Відмінити</span>
                </button>
                <button class="button circle" submit>
                    <i>check</i>
                    <span>Застосувати</span>
                </button>
                <div class="max"></div>
            </nav>
        </div>
        <div class="s8 padding grid" hx-target="this" hx-swap="outerHTML">
            <div class="s12 grid">
                <div class="field small no-margin s12 l4">
                    <input type="text" value="{{.Lastname}}" name="lastname" required>
                </div>
                <div class="field small no-margin s12 l4">
                    <input type="text" value="{{.Firstname}}" name="firstname" required>
                </div>
                <div class="field small no-margin s12 l4">
                    <input type="text" value="{{.Middlename}}" name="middlename" required>
                </div>
            </div>
            <hr class="s12">
            </hr>
            <h6 class="s12 grid">
                <span class="s12 l7">
                    Особова справа
                </span>
                <div class="field small no-margin s12 l5">
                    <input type="text" value="{{.PersonalFileNumber}}" name="personal_file_number" required>
                </div>
            </h6>
            <h6 class="s12 grid">
                <span class="s12 l7">
                    Форма навчання
                </span>
                <div class="field small no-margin s12 l5">
                    <select name="form_of_education" required>
                        <option value="Денна" {{if eq .FormOfEducation "Денна" }}selected{{end}}>Денна</option>
                        <option value="Домашня" {{if eq .FormOfEducation "Домашня" }}selected{{end}}>Домашня</option>
                        <option value="Вечірня" {{if eq .FormOfEducation "Вечірня" }}selected{{end}}>Вечірня</option>
                    </select>
                    <i>arrow_drop_down</i>
                </div>
            </h6>
            <h6 class="s12 grid">
                <span class="s12 l7">
                    Народився
                </span>
                <div class="field small no-margin s12 l5">
                    <input name="birthday" type="date" value='{{ .Birthday.Format "2006-01-02" }}' required>
                </div>
            </h6>
            <h6 class="s12 grid">
                <span class="s12 l7">
                    Стать
                </span>
                <div class="field small no-margin s12 l5">
                    <select name="gender" required>
                        <option value="M" {{if eq .Gender "M" }}selected{{end}}>Хлопець</option>
                        <option value="F" {{if eq .Gender "F" }}selected{{end}}>Дівчина</option>
                    </select>
                    <i>arrow_drop_down</i>
                </div>
            </h6>
            <div class="field small no-margin s12">
                <textarea name="note" class="wrap">{{if .Note}}{{.Note}}{{end}}</textarea>
                <label>Примітка</label>
            </div>

        </div>
    </form>
</article>
{{ end }}

{{ define "student-health" }}
<article class="no-padding round s12 l4">
    <div class="grid padding">
        <h3 class="s12 right-align">Медична Картка</h3>
        <hr class="s12">
    </div>
</article>
{{ end }}

{{ define "parents" }}
{{ end }}
