{{ define "content" }}
<main class="responsive" id="main_content" hx-swap-oob="true">
    <div class="grid">
        {{ template "student-info" .Student }}
        {{ template "student-health" .Student }}
        {{ template "connections" . }}
    </div>
    {{ template "add-connection-dialog" . }}
</main>
{{ end }}

{{ define "student-info" }}
<article class="round s12 l8" id="student-info">
    <div class="grid no-space">
        <div class="s4 center-align">
            <img class="round small-width small-height margin" src="/images/placeholder.png">
            <div id="buttons" class="grid">
                <button class="button s12" hx-get="/students/{{.StudentID}}/edit" hx-target="#student-info"
                    hx-swap="outerHTML">
                    <i>edit</i>
                    <span>Редагувати</span>
                </button>

                <button class="error delete s12" _="on click hide <button.delete/>  then show <button.confirm/>"
                    data-loading-disable>
                    <i>delete</i>
                    <span>Видалити</span>
                </button>

                <button class="confirm secondary s6" style="display: none;"
                    _="on click hide <button.confirm/> then show <button.delete/>">
                    <i>close</i>
                </button>

                <button class="error confirm s6" id="delete-{{.StudentID}}" data-loading-disable
                    hx-delete="/students/{{.StudentID}}" hx-swap="none" hx-indicator="#i-{{.StudentID}}"
                    style="display: none;"
                    _="on click hide <button.confirm/>then show <button.delete/> end on htmx:afterRequest js history.back()">
                    <i>check</i>
                </button>
            </div>

            <progress id="i-{{.StudentID}}" class="htmx-indicator"></progress>
        </div>
        <div class="s8 padding grid">
            <h3 class="s12 right-align">
                {{.Lastname}} {{.Firstname}} {{.Middlename}}
            </h3>
            <hr class="s12">
            <h6 class="s12 row">Особова справа <div class="max"></div> {{.PersonalFileNumber}}</h6>
            <h6 class="s12 row">Форма навчання <div class="max"></div> {{.FormOfEducation}}</h6>
            <h6 class="s12 row">Народився <div class="max"></div> {{.Birthday.Format "02.01.2006"}}
            </h6>
            <h6 class="s12 row">Стать <div class="max"></div> {{if eq .Gender
                "F"}}Дівчина{{else}}Хлопець{{end}} </h6>
            <p class="s12" style="overflow-wrap: break-word;">
                {{if .Note}}{{.Note}}{{else}}Примітка відсутня{{end}}
            </p>
        </div>
    </div>
</article>
{{ end }}

{{ define "student-info-edit"}}
<article class="round s12 l8" id="student-info">
    <form class="grid no-space" hx-put="/students/{{.StudentID}}" hx-target="#student-info" hx-swap="outerHTML"
        hx-vals='{"student_ID": "{{.StudentID}}"}'>
        <div class="s4 center-align">
            <img class="round small-width small-height margin" src="/images/placeholder.png">

            <nav class="buttons row">
                <div class="max"></div>
                <button class="error button circle" hx-get="/students/{{.StudentID}}/info" hx-target="#student-info"
                    hx-swap="outerHTML">
                    <i>close</i>
                    <span>Відмінити</span>
                </button>
                <button class="button circle" submit>
                    <i>check</i>
                    <span>Застосувати</span>
                </button>
                <div class="max"></div>
            </nav>
        </div>
        <div class="s8 padding grid" hx-target="this" hx-swap="outerHTML">
            <div class="s12 grid">
                <div class="field small no-margin s12 l4">
                    <input type="text" value="{{.Lastname}}" name="lastname" required>
                </div>
                <div class="field small no-margin s12 l4">
                    <input type="text" value="{{.Firstname}}" name="firstname" required>
                </div>
                <div class="field small no-margin s12 l4">
                    <input type="text" value="{{.Middlename}}" name="middlename" required>
                </div>
            </div>
            <hr class="s12">
            </hr>
            <h6 class="s12 grid">
                <span class="s12 l7">
                    Особова справа
                </span>
                <div class="field small no-margin s12 l5">
                    <input type="text" value="{{.PersonalFileNumber}}" name="personal_file_number" required>
                </div>
            </h6>
            <h6 class="s12 grid">
                <span class="s12 l7">
                    Форма навчання
                </span>
                <div class="field small no-margin s12 l5">
                    <select name="form_of_education" required>
                        <option value="Денна" {{if eq .FormOfEducation "Денна" }}selected{{end}}>Денна</option>
                        <option value="Домашня" {{if eq .FormOfEducation "Домашня" }}selected{{end}}>Домашня</option>
                        <option value="Вечірня" {{if eq .FormOfEducation "Вечірня" }}selected{{end}}>Вечірня</option>
                    </select>
                    <i>arrow_drop_down</i>
                </div>
            </h6>
            <h6 class="s12 grid">
                <span class="s12 l7">
                    Народився
                </span>
                <div class="field small no-margin s12 l5">
                    <input name="birthday" type="date" value='{{ .Birthday.Format "2006-01-02" }}' required>
                </div>
            </h6>
            <h6 class="s12 grid">
                <span class="s12 l7">
                    Стать
                </span>
                <div class="field small no-margin s12 l5">
                    <select name="gender" required>
                        <option value="M" {{if eq .Gender "M" }}selected{{end}}>Хлопець</option>
                        <option value="F" {{if eq .Gender "F" }}selected{{end}}>Дівчина</option>
                    </select>
                    <i>arrow_drop_down</i>
                </div>
            </h6>
            <div class="field small no-margin s12">
                <textarea name="note" class="wrap">{{if .Note}}{{.Note}}{{end}}</textarea>
                <label>Примітка</label>
            </div>

        </div>
    </form>
</article>
{{ end }}

{{ define "connections" }}
<article class="round s12 l6" id="parents">
    <div class="grid">
        <button class="button s6"
            _="on click add .active to <div.overlay/> in #add-familyconnection-dialog then add .active to <dialog/> in #add-familyconnection-dialog">
            <i>add</i>
            <span>Додати зв'язок</span>
        </button>
        <h5 class="s6 right-align">
            Пов'язані опікуни
        </h5>
        <hr class="s12">
        <div class="s12 grid scroll no-round middle-height" id="familyconnections">
            {{ range .Connections }}
            {{ template "connection" . }}
            {{ end }}
        </div>
    </div>
</article>
{{ end }}

{{ define "connection" }}
<div class="s12 grid" id="parent-info-{{.FamilyConnectionID}}">
    <nav class="s12">
        <h6>
            <a href="/caretakers/{{.Caretaker.CaretakerID}}" class="link underline">
                {{.Caretaker.Lastname}} {{initial .Caretaker.Firstname}}. {{initial .Caretaker.Middlename}}.
            </a>
            - {{ .Kinship }}
        </h6>
        <div class="max"></div>
        <nav class="right-align">
            <button class="circle error delete"
                _="on click hide <button.delete/> in closest <nav/> then show <button.confirm/> in closest <nav/>"
                data-loading-disable>
                <i>delete</i>
            </button>

            <button class="circle confirm secondary" style="display: none;"
                _="on click hide <button.confirm/> in closest <nav/> then show <button.delete/> in closest <nav/>">
                <i>close</i>
            </button>

            <button class="circle error confirm" id="delete-{{.FamilyConnectionID}}" data-loading-disable
                hx-delete="/students/familyconnections/{{.FamilyConnectionID}}"
                hx-target="#parent-info-{{.FamilyConnectionID}}" hx-swap="outerHTML"
                hx-indicator="#i-fc-{{.FamilyConnectionID}}" style="display: none;"
                _="on click hide <button.confirm/> in closest <nav/> then show <button.delete/> in closest <nav/>">
                <i>check</i>
            </button>

            <button class="button circle s12" hx-get="/students/familyconnections/{{.FamilyConnectionID}}/edit"
                hx-target="#parent-info-{{.FamilyConnectionID}}" hx-swap="outerHTML">
                <i>edit</i>
            </button>
        </nav>
    </nav>

    <progress id="i-fc-{{.FamilyConnectionID}}" class="s12 htmx-indicator"></progress>
    <hr class="s12">
</div>
{{ end }}

{{ define "connection-edit" }}
<div class="s12 grid" id="parent-info-{{.FamilyConnectionID}}">
    <form class="s12 row" hx-put="/students/familyconnections/{{.FamilyConnectionID}}"
        hx-vals='{"caretaker_ID": "{{.Caretaker.CaretakerID}}", "student_ID": "{{.Student.StudentID}}"}'
        hx-target="#parent-info-{{.FamilyConnectionID}}" hx-swap="outerHTML">
        <div class="field small no-margin s12 l5">
            <div hx-get="/caretakers/select/{{.Caretaker.CaretakerID}}" hx-target="this" hx-swap="outerHTML"
                hx-trigger="revealed"></div>
        </div>
        -
        <div class="field small no-margin s12 l5">
            <select name="kinship" required>
                <option value="Батько" {{ if eq .Kinship "Батько" }}selected{{end}}>Батько</option>
                <option value="Мати" {{ if eq .Kinship "Мати" }}selected{{end}}>Мати</option>
                <option value="Вітчим" {{ if eq .Kinship "Вітчим" }}selected{{end}}>Вітчим</option>
                <option value="Мачуха" {{ if eq .Kinship "Мачуха" }}selected{{end}}>Мачуха</option>
                <option value="Дядько" {{ if eq .Kinship "Дядько" }}selected{{end}}>Дядько</option>
                <option value="Тітка" {{ if eq .Kinship "Тітка" }}selected{{end}}>Тітка</option>
                <option value="Брат" {{ if eq .Kinship "Брат" }}selected{{end}}>Брат</option>
                <option value="Сестра" {{ if eq .Kinship "Сестра" }}selected{{end}}>Сестра</option>
                <option value="Дідусь" {{ if eq .Kinship "Дідусь" }}selected{{end}}>Дідусь</option>
                <option value="Бабуся" {{ if eq .Kinship "Бабуся" }}selected{{end}}>Бабуся</option>
                <option value="Інше" {{ if eq .Kinship "Інше" }}selected{{end}}>Інше</option>
            </select>
        </div>
        <div class="max"></div>

        <nav class="right-align buttons row">
            <div class="max"></div>
            <button class="error button circle" hx-get="/students/familyconnections/{{.FamilyConnectionID}}/info"
                hx-target="#parent-info-{{.FamilyConnectionID}}" hx-swap="outerHTML">
                <i>close</i>
                <span>Відмінити</span>
            </button>
            <button class="button circle" submit>
                <i>check</i>
                <span>Застосувати</span>
            </button>
            <div class="max"></div>
        </nav>
    </form>
    <hr class="s12">
    </hr>
</div>
{{ end }}

{{ define "add-connection-dialog" }}
<div id="add-familyconnection-dialog" _="
    on closeDialog or htmx:afterOnLoad
            remove .active from <div.overlay/> in #add-familyconnection-dialog
            then
            remove .active from <dialog/> in #add-familyconnection-dialog 
    end
">
    <div class="overlay blur" _="on click trigger closeDialog"></div>
    <dialog>
        <nav>
            <h5>Додати зв'язок</h5>
            <div class="max"></div>
            <button class="error circle small" data-loading-disable
                _="on click trigger closeDialog"><i>close</i></button>
        </nav>
        <form hx-post="/students/familyconnections" hx-vals='{"student_ID": "{{.Student.StudentID}}"}'
            hx-swap="afterbegin" hx-target="#familyconnections" autocomplete="false">
            <fieldset class="round grid">
                <div class="field label border small round s12">
                    <select name="kinship" required>
                        <option value="Батько">Батько</option>
                        <option value="Мати">Мати</option>
                        <option value="Вітчим">Вітчим</option>
                        <option value="Мачуха">Мачуха</option>
                        <option value="Дядько">Дядько</option>
                        <option value="Тітка">Тітка</option>
                        <option value="Брат">Брат</option>
                        <option value="Сестра">Сестра</option>
                        <option value="Дідусь">Дідусь</option>
                        <option value="Бабуся">Бабуся</option>
                        <option value="Інше">Інше</option>
                    </select>
                    <label>Роль</label>
                </div>

                <div class="field label border small round s12">
                    <div hx-get="/caretakers/select/-1" hx-target="this" hx-swap="outerHTML" hx-trigger="revealed">
                    </div>
                    <label>Родич</label>
                </div>

                <nav class="row s12">
                    <div class="max"></div>
                    <button class="align-right" type="submit">Додати</button>
                </nav>
            </fieldset>
        </form>
    </dialog>
</div>
{{ end }}

{{ define "student-health" }}
<article class="no-padding round s12 l4">
    <div class="grid padding">
        <h3 class="s12 right-align">Медична Картка</h3>
        <hr class="s12">
    </div>
</article>
{{ end }}
