{{ define "content" }}
<main class="responsive" id="main_content">
    <h1 class="right-align middle-align">Учні</h1>
    <div class="row">
        <article class="grid" style="display: flex; flex-direction: column; width: 25%;">
            <form hx-get="/students/search" hx-target="#students" class="s12 grid"
                hx-trigger="change, keyup changed, load" id="filters" style="display: flex; flex-direction: column;">

                <div class="s12 grid">
                    <button class="error circle s2" type="reset submit">
                        <i>close</i>
                    </button>
                    <div class="field label border round small s10">
                        <input name="query" _="on keyup trigger query on #filters">
                        <label>Пошук</label>
                    </div>
                </div>

                <div class="s12 grid">
                    <label class="circle checkbox icon s2">
                        <input type="checkbox" class="circle" name="is_descending" value="1">
                        <span>
                            <i>south</i>
                            <i>north</i>
                        </span>
                    </label>

                    <div class="field label border round small s10">
                        <select name="order_by">
                            <option value="lastname">Ім'я</option>
                            <option value="birthday">Дата народження</option>
                            <option value="form_of_education">Форма навчання</option>
                            <option value="gender">Стать</option>
                            <option value="personal_file_number">Номер особової справи &#5760;</option>
                        </select>
                        <label>Сортувати за</label>
                    </div>
                </div>

                <div class="field label border round small s12">
                    <select name="form_of_education" required>
                        <option value="Денна">Денна</option>
                        <option value="Домашня">Домашня</option>
                        <option value="Вечірня">Вечірня</option>
                    </select>
                    <label>Форма навчання</label>
                    <i>arrow_drop_down</i>
                </div>

                <div class="field label border round small s12">
                    <input name="birthday_from" type="date" value="2000-01-01">
                    <label>Від</label>
                </div>
                <div class="field label border round small s12">
                    <input name="birthday_to" type="date" value='{{ now.Format "2006-01-02" }}'>
                    <label>До</label>
                </div>

                <div class="field middle-align s12">
                    <nav>
                        <label class="radio">
                            <input type="radio" name="gender" value="M">
                            <span>Хлопець</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="gender" value="F">
                            <span>Дівчина</span>
                        </label>
                    </nav>
                </div>

                <div class="s12" style="flex: 1;"></div>
            </form>
            <div class="s12" style="flex: 1;"></div>
            <button class="s12"
                _="on click add .active to <div.overlay/> in #addDialog then add .active to <dialog/> in #addDialog">
                <i>add</i>
                <span>Додати учня</span>
            </button>
        </article>
        <div class="grid" id="students" style="width: 75%;">
        </div>
    </div>
    {{ template "add-dialog" . }}
</main>
{{ end }}

{{ define "students" }}
<div class="grid" id="students" hx-swap-oob="true" style="width: 75%;">
    {{ range . }}
    {{ template "student" . }}
    {{ end }}
</div>
{{ end }}

{{ define "student" }}
<article id="student-{{.StudentID}}" class="round s12 m6 l4" data-loading-states>
    <div>
        <nav class="row">
            <h6 style="text-wrap: nowrap;">
                <a class="link underline" hx-get="/students/{{.StudentID}}" hx-swap="none" hx-push-url="true"
                    data-loading-disable>
                    {{.Lastname}} {{initial .Firstname}}. {{initial .Middlename}}.
                </a>
            </h6>
        </nav>
        <div class="grid">
            <div class="s5">{{ .Birthday.Format "2006-01-02" }}</div>
            <div class="s5">{{ .FormOfEducation }}</div>
            <i class="s2">
                {{if eq .Gender "F"}}woman{{else}}man{{end}}
            </i>
            <div class="s6">{{ .PersonalFileNumber }}</div>
            <nav class="s6 right-align">
                <button class="circle error delete"
                    _="on click hide <button.delete/> in closest <nav/> then show <button.confirm/> in closest <nav/>"
                    data-loading-disable>
                    <i>delete</i>
                </button>

                <button class="confirm secondary circle" style="display: none;"
                    _="on click hide <button.confirm/> in closest <nav/> then show <button.delete/> in closest <nav/>">
                    <i>close</i>
                </button>

                <button class="error confirm circle" id="delete-{{.StudentID}}" data-loading-disable
                    hx-delete="/students/{{.StudentID}}" hx-target="#student-{{.StudentID}}" hx-swap="outerHTML"
                    hx-indicator="#i-{{.StudentID}}" style="display: none;"
                    _="on click hide <button.confirm/> in closest <nav/> then show <button.delete/> in closest <nav/>">
                    <i>check</i>
                </button>
            </nav>
        </div>
    </div>
    <div class="tooltip top">
        <b>
            {{.Lastname}} {{.Firstname}} {{.Middlename}}
        </b>
    </div>
</article>
{{ end }}

{{ define "add-dialog" }}
<div id="addDialog" _="
    on closeDialog or htmx:afterOnLoad
            remove .active from <div.overlay/> in #addDialog
            then 
            remove .active from <dialog/> in #addDialog 
    end
">
    <div class="overlay blur" _="on click trigger closeDialog"></div>
    <dialog>
        <nav>
            <h5>Додати учня</h5>
            <div class="max"></div>
            <button class="error circle small" data-loading-disable
                _="on click trigger closeDialog"><i>close</i></button>
        </nav>
        <form hx-post="/students" hx-swap="afterbegin" hx-target="#students" autocomplete="false">
            <fieldset class="round grid">
                <div class="field label border small round s6">
                    <input type="text" name="lastname" required>
                    <label>Прізвище</label>
                </div>

                <div class="field label border small round s6">
                    <input type="text" name="firstname" required>
                    <label>Ім'я</label>
                </div>

                <div class="field label border small round s6">
                    <input type="text" name="middlename" required>
                    <label>По батькові</label>
                </div>

                <div class="field label border round small s6">
                    <select name="gender" required>
                        <option value="M">Хлопець</option>
                        <option value="F">Дівчина</option>
                    </select>
                    <label>Стать</label>
                    <i>arrow_drop_down</i>
                </div>

                <div class="field label border round small s6">
                    <select name="form_of_education" required>
                        <option value="Денна">Денна</option>
                        <option value="Домашня">Домашня</option>
                        <option value="Вечірня">Вечірня</option>
                    </select>
                    <label>Форма навчання</label>
                    <i>arrow_drop_down</i>
                </div>

                <div class="field label border small round s6">
                    <input type="text" name="personal_file_number" required>
                    <label>Особова справа</label>
                </div>

                <div class="field label border round small s6">
                    <input name="birthday" type="date" required>
                    <label>День народження</label>
                </div>

                <div class="field label border round small s6">
                    <input type="text" name="note">
                    <label>Примітка</label>
                </div>

                <nav class="row s12">
                    <div class="max"></div>
                    <button class="align-right" type="submit">Додати</button>
                </nav>
            </fieldset>
        </form>
    </dialog>
</div>
{{ end }}

{{ define "students-select" }}
<select name="student_ID" required>
    {{ range .Students }}
    <option {{ if eq .StudentID $.Selected.StudentID }}selected{{end}} value="{{.StudentID}}">
        {{.Lastname}} {{initial .Firstname}}. {{initial .Middlename}}.
    </option>
    {{ end }}
</select>
{{ end }}
