{{ define "title" }}
<title> {{.Student.Lastname}} {{.Student.Firstname}} {{.Student.Middlename}} | Teacher Helper</title>
{{ end }}

{{ define "content" }}
<main class="responsive" id="main_content" hx-swap-oob="true">
    <div class="grid">
        {{ template "student-info" .Student }}
        {{ template "medical-card-control" . }}
        {{ template "connections" .Connections }}
        {{ template "privileges" .Privileges }}
        {{ template "stats" .Stats }}
    </div>
    {{ template "add-connection-dialog" . }}
    {{ template "add-privilege-dialog" . }}
</main>
{{ end }}

{{ define "student-info" }}
<article class="round s12 l8 grid" id="student-info">
    <h5 class="s12 row">
        {{.Lastname}} {{.Firstname}} {{.Middlename}}
        <div class="max"></div>
        <button class="circle" onclick="location.href='/students/print/general/{{.StudentID}}';">
            <i>print</i></button>
    </h5>
    <hr class="s12" />
    <h6 class="s12 row">Особова справа <div class="max"></div> {{.PersonalFileNumber}}</h6>
    <h6 class="s12 row">Форма навчання <div class="max"></div> {{.FormOfEducation}}</h6>
    <h6 class="s12 row">Народився <div class="max"></div> {{.Birthday.Format "02.01.2006"}}
    </h6>
    <h6 class="s12 row">Стать <div class="max"></div> {{if eq .Gender
        "F"}}Дівчина{{else}}Хлопець{{end}} </h6>
    <hr class="s12" />
    <p class="s12" style="overflow-wrap: break-word;">
        {{if .Note}}{{.Note}}{{else}}Примітка відсутня{{end}}
    </p>

    <div id="buttons" class="s12 grid">
        <button class="button s6" hx-get="/students/{{.StudentID}}/edit" hx-target="#student-info" hx-swap="outerHTML">
            <i>edit</i>
            <span>Редагувати</span>
        </button>

        <button class="error delete s6"
            _="on click hide <button/> in closest <div/> then show <button.confirm/> in closest <div/>"
            data-loading-disable>
            <i>delete</i>
            <span>Видалити</span>
        </button>

        <button class="confirm secondary s6" style="display: none;"
            _="on click show <button/> in closest <div/> then hide <button.confirm/> in closest <div/>">
            <i>close</i>
        </button>

        <button class="error confirm s6" id="delete-{{.StudentID}}" data-loading-disable
            hx-delete="/students/{{.StudentID}}" hx-swap="none" hx-indicator="#i-{{.StudentID}}" style="display: none;"
            _="on click hide <button.confirm/>then show <button.delete/> end on htmx:afterRequest js history.back()">
            <i>check</i>
        </button>
    </div>
</article>
{{ end }}

{{ define "student-info-edit"}}
<article class="round s12 l8" id="student-info">
    <form class="grid" hx-put="/students/{{.StudentID}}" hx-target="#student-info" hx-swap="outerHTML"
        hx-vals='{"student_ID": "{{.StudentID}}"}'>
        <div class="s12 padding grid" hx-target="this" hx-swap="outerHTML">
            <div class="s12 grid">
                <div class="field small no-margin s12 l4">
                    <input type="text" value="{{.Lastname}}" name="lastname" required>
                </div>
                <div class="field small no-margin s12 l4">
                    <input type="text" value="{{.Firstname}}" name="firstname" required>
                </div>
                <div class="field small no-margin s12 l4">
                    <input type="text" value="{{.Middlename}}" name="middlename" required>
                </div>
            </div>
            <hr class="s12">
            </hr>
            <h6 class="s12 grid">
                <span class="s12 l7">
                    Особова справа
                </span>
                <div class="field small no-margin s12 l5">
                    <input type="text" value="{{.PersonalFileNumber}}" name="personal_file_number" required>
                </div>
            </h6>
            <h6 class="s12 grid">
                <span class="s12 l7">
                    Форма навчання
                </span>
                <div class="field small no-margin s12 l5">
                    <select name="form_of_education" required>
                        <option value="Денна" {{if eq .FormOfEducation "Денна" }}selected{{end}}>Денна</option>
                        <option value="Домашня" {{if eq .FormOfEducation "Домашня" }}selected{{end}}>Домашня</option>
                        <option value="Вечірня" {{if eq .FormOfEducation "Вечірня" }}selected{{end}}>Вечірня</option>
                    </select>
                    <i>arrow_drop_down</i>
                </div>
            </h6>
            <h6 class="s12 grid">
                <span class="s12 l7">
                    Народився
                </span>
                <div class="field small no-margin s12 l5">
                    <input name="birthday" type="date" value='{{ .Birthday.Format "2006-01-02" }}' required>
                </div>
            </h6>
            <h6 class="s12 grid">
                <span class="s12 l7">
                    Стать
                </span>
                <div class="field small no-margin s12 l5">
                    <select name="gender" required>
                        <option value="M" {{if eq .Gender "M" }}selected{{end}}>Хлопець</option>
                        <option value="F" {{if eq .Gender "F" }}selected{{end}}>Дівчина</option>
                    </select>
                    <i>arrow_drop_down</i>
                </div>
            </h6>
            <hr class="s12" />
            <div class="field small no-margin s12">
                <textarea name="note" class="wrap">{{if .Note}}{{.Note}}{{end}}</textarea>
                <label>Примітка</label>
            </div>

        </div>

        <div class="buttons grid s12">
            <button class="s6 error button" hx-get="/students/{{.StudentID}}/info" hx-target="#student-info"
                hx-swap="outerHTML">
                <i>close</i>
                <span>Відмінити</span>
            </button>
            <button class="s6 button" submit>
                <i>check</i>
                <span>Застосувати</span>
            </button>
        </div>
    </form>
</article>
{{ end }}

{{ define "connections" }}
<article class="round s12 l6" id="parents">
    <div class="grid">
        <button class="button s6"
            _="on click add .active to <div.overlay/> in #add-familyconnection-dialog then add .active to <dialog/> in #add-familyconnection-dialog">
            <i>add</i>
            <span>Додати зв'язок</span>
        </button>
        <h5 class="s6 right-align middle-align">
            Пов'язані опікуни
        </h5>
        <hr class="s12">
        <div class="s12 grid scroll no-round middle-height" id="familyconnections">
            {{ range . }}
            {{ template "connection" . }}
            {{ end }}
        </div>
    </div>
</article>
{{ end }}

{{ define "connection" }}
<div class="s12 grid" id="parent-info-{{.FamilyConnectionID}}">
    <nav class="s12">
        <h6>
            <a href="/caretakers/{{.Caretaker.CaretakerID}}" class="link underline">
                {{.Caretaker.Lastname}} {{initial .Caretaker.Firstname}}. {{initial .Caretaker.Middlename}}.
            </a>
            - {{ .Kinship }}
        </h6>
        <div class="max"></div>
        <nav class="right-align">
            <progress id="i-fc-{{.FamilyConnectionID}}" class="s12 circle small htmx-indicator"></progress>

            <button class="circle error delete"
                _="on click hide <button.delete/> in closest <nav/> then show <button.confirm/> in closest <nav/>"
                data-loading-disable>
                <i>delete</i>
            </button>

            <button class="circle confirm secondary" style="display: none;"
                _="on click hide <button.confirm/> in closest <nav/> then show <button.delete/> in closest <nav/>">
                <i>close</i>
            </button>

            <button class="circle error confirm" id="delete-{{.FamilyConnectionID}}" data-loading-disable
                hx-delete="/students/familyconnections/{{.FamilyConnectionID}}"
                hx-target="#parent-info-{{.FamilyConnectionID}}" hx-swap="outerHTML"
                hx-indicator="#i-fc-{{.FamilyConnectionID}}" style="display: none;"
                _="on click hide <button.confirm/> in closest <nav/> then show <button.delete/> in closest <nav/>">
                <i>check</i>
            </button>

            <button class="button circle s12" hx-get="/students/familyconnections/{{.FamilyConnectionID}}/edit"
                hx-target="#parent-info-{{.FamilyConnectionID}}" hx-swap="outerHTML">
                <i>edit</i>
            </button>
        </nav>
    </nav>

    <hr class="s12">
</div>
{{ end }}

{{ define "connection-edit" }}
<div class="s12 grid" id="parent-info-{{.FamilyConnectionID}}">
    <form class="s12 row" hx-put="/students/familyconnections/{{.FamilyConnectionID}}"
        hx-vals='{"caretaker_ID": "{{.Caretaker.CaretakerID}}", "student_ID": "{{.Student.StudentID}}"}'
        hx-target="#parent-info-{{.FamilyConnectionID}}" hx-swap="outerHTML">
        <div class="field small no-margin s12 l5">
            <div hx-get="/caretakers/select/{{.Caretaker.CaretakerID}}" hx-target="this" hx-swap="outerHTML"
                hx-trigger="revealed"></div>
        </div>
        -
        <div class="field small no-margin s12 l5">
            <select name="kinship" required>
                <option value="Батько" {{ if eq .Kinship "Батько" }}selected{{end}}>Батько</option>
                <option value="Мати" {{ if eq .Kinship "Мати" }}selected{{end}}>Мати</option>
                <option value="Вітчим" {{ if eq .Kinship "Вітчим" }}selected{{end}}>Вітчим</option>
                <option value="Мачуха" {{ if eq .Kinship "Мачуха" }}selected{{end}}>Мачуха</option>
                <option value="Дядько" {{ if eq .Kinship "Дядько" }}selected{{end}}>Дядько</option>
                <option value="Тітка" {{ if eq .Kinship "Тітка" }}selected{{end}}>Тітка</option>
                <option value="Брат" {{ if eq .Kinship "Брат" }}selected{{end}}>Брат</option>
                <option value="Сестра" {{ if eq .Kinship "Сестра" }}selected{{end}}>Сестра</option>
                <option value="Дідусь" {{ if eq .Kinship "Дідусь" }}selected{{end}}>Дідусь</option>
                <option value="Бабуся" {{ if eq .Kinship "Бабуся" }}selected{{end}}>Бабуся</option>
                <option value="Інше" {{ if eq .Kinship "Інше" }}selected{{end}}>Інше</option>
            </select>
        </div>
        <div class="max"></div>

        <nav class="right-align buttons row">
            <div class="max"></div>
            <button class="error button circle" hx-get="/students/familyconnections/{{.FamilyConnectionID}}/info"
                hx-target="#parent-info-{{.FamilyConnectionID}}" hx-swap="outerHTML">
                <i>close</i>
                <span>Відмінити</span>
            </button>
            <button class="button circle" submit>
                <i>check</i>
                <span>Застосувати</span>
            </button>
            <div class="max"></div>
        </nav>
    </form>
    <hr class="s12">
    </hr>
</div>
{{ end }}

{{ define "add-connection-dialog" }}
<div id="add-familyconnection-dialog" _="
    on closeDialog or htmx:afterOnLoad
            remove .active from <div.overlay/> in #add-familyconnection-dialog
            then
            remove .active from <dialog/> in #add-familyconnection-dialog 
    end
">
    <div class="overlay blur" _="on click trigger closeDialog"></div>
    <dialog>
        <nav>
            <h5>Додати зв'язок</h5>
            <div class="max"></div>
            <button class="error circle small" data-loading-disable
                _="on click trigger closeDialog"><i>close</i></button>
        </nav>
        <form hx-post="/students/familyconnections" hx-vals='{"student_ID": "{{.Student.StudentID}}"}'
            hx-swap="afterbegin" hx-target="#familyconnections" autocomplete="false">
            <fieldset class="round grid">
                <div class="field label border small round s12">
                    <select name="kinship" required>
                        <option value="Батько">Батько</option>
                        <option value="Мати">Мати</option>
                        <option value="Вітчим">Вітчим</option>
                        <option value="Мачуха">Мачуха</option>
                        <option value="Дядько">Дядько</option>
                        <option value="Тітка">Тітка</option>
                        <option value="Брат">Брат</option>
                        <option value="Сестра">Сестра</option>
                        <option value="Дідусь">Дідусь</option>
                        <option value="Бабуся">Бабуся</option>
                        <option value="Інше">Інше</option>
                    </select>
                    <label>Роль</label>
                </div>

                <div class="field label border small round s12">
                    <div hx-get="/caretakers/select/-1" hx-target="this" hx-swap="outerHTML" hx-trigger="revealed">
                    </div>
                    <label>Родич</label>
                </div>

                <nav class="row s12">
                    <div class="max"></div>
                    <button class="align-right" type="submit">Додати</button>
                </nav>
            </fieldset>
        </form>
    </dialog>
</div>
{{ end }}

{{ define "medical-card-control" }}
{{ if .MedicalCard }}
{{ template "medical-card" .MedicalCard }}
{{ else }}
{{ template "medical-card-empty" . }}
{{ end }}
{{ end }}

{{ define "medical-card" }}
<article id="medical-card" class="no-padding round s12 l4">
    <div class="grid padding">
        <h5 class="s12 row">
            <button class="circle" hx-get="/medicalCard/{{.StudentID}}/edit" hx-target="#medical-card"
                hx-swap="outerHTML"><i>edit</i></button>
            <button class="circle"
                onclick="location.href='/students/print/medcard/{{.StudentID}}';"><i>print</i></button>
            <div class="max"></div>
            Медична Картка
        </h5>
        <hr class="s12">
        <h6 class="s12 row">Вага <div class="max"></div> {{.Weight}} кг.</h6>
        <h6 class="s12 row">Зріст <div class="max"></div> {{.Height}} см.</h6>
        <h6 class="s12 row">Група здоров'я <div class="max"></div> {{.HealthGroup}}</h6>
        <h6 class="s12 row">Група крові, Rh <div class="max"></div> {{.BloodGroup}}{{.RhFactor}}</h6>
        <hr class="s12">
        <h6 class="s12 row">Медичні огляди:</h6>
        <h6 class="s12 row">Останній <div class="max"></div> {{.LastInspectionDate.Format "2006-01-02"}}</h6>
        <h6 class="s12 row">Наступний <div class="max"></div> {{.NextInspectionDate.Format "2006-01-02"}}</h6>
    </div>
</article>
{{ end }}

{{ define "medical-card-empty" }}
<article id="medical-card" class="round middle-align center-align s12 l4">
    <div>
        <i class="extra">medical_information</i>
        <h5>Учень ще не має медичної картки</h5>
        <div class="space"></div>
        <nav class="center-align">
            <button hx-post="/medicalCard" hx-vals='{"student_ID": "{{.Student.StudentID}}"}' hx-swap="outerHTML"
                hx-target="#medical-card">Створити</button>
        </nav>
    </div>
</article>
{{ end }}

{{ define "medical-card-edit" }}
<article id="medical-card" class="no-padding round s12 l4">
    <form class="grid padding" hx-put="/medicalCard/{{.StudentID}}" hx-target="#medical-card" hx-swap="outerHTML"
        hx-vals='{"student_ID": "{{.StudentID}}", "medical_card_ID": "{{.MedicalCardID}}"}'>
        <div class="s12 grid">
            <button class="s6" submit><i>check</i></button>
            <button class="s6 error" hx-get="/medicalCard/{{.StudentID}}/info" hx-target="#medical-card"
                hx-swap="outerHTML"><i>close</i></button>
        </div>
        <hr class="s12" />
        <h6 class="s12 row">Вага <div class="max"></div>
            <div class="field small no-margin s12 l4">
                <input class="small-width" type="number" value="{{.Weight}}" name="weight" required>
            </div>
            кг.
        </h6>
        <h6 class="s12 row">Зріст <div class="max"></div>
            <div class="field small suffix no-margin s12 l4">
                <input class="small-width" type="number" value="{{.Height}}" name="height" required>
            </div>
            см.
        </h6>
        <h6 class="s12 row">Група здоров'я <div class="max"></div>
            <div class="field small no-margin s12 l4">
                <select name="health_group" required>
                    <option value="1" {{if eq .HealthGroup "1" }}selected{{end}}>1</option>
                    <option value="2" {{if eq .HealthGroup "2" }}selected{{end}}>2</option>
                    <option value="3" {{if eq .HealthGroup "3" }}selected{{end}}>3</option>
                    <option value="4" {{if eq .HealthGroup "4" }}selected{{end}}>4</option>
                    <option value="5" {{if eq .HealthGroup "5" }}selected{{end}}>5</option>
                </select>
            </div>
        </h6>
        <h6 class="s12 row">Група крові, Rh <div class="max"></div>
            <div class="field small no-margin s12 l4">
                <select name="blood_group" required>
                    <option value="I" {{if eq .BloodGroup "I" }}selected{{end}}>I</option>
                    <option value="II" {{if eq .BloodGroup "II" }}selected{{end}}>II</option>
                    <option value="III" {{if eq .BloodGroup "III" }}selected{{end}}>III</option>
                    <option value="IV" {{if eq .BloodGroup "IV" }}selected{{end}}>IV</option>
                </select>
            </div>
            <div class="field small no-margin s12 l4">
                <select name="rh_factor" required>
                    <option value="+" {{if eq .RhFactor "+" }}selected{{end}}>+</option>
                    <option value="-" {{if eq .RhFactor "-" }}selected{{end}}>-</option>
                </select>
            </div>
        </h6>
        <hr class="s12">
        <h6 class="s12 row">Медичні огляди:</h6>
        <h6 class="s12 row">Останній <div class="max"></div>
            <div class="field small no-margin s12 l4">
                <input type="date" value='{{.LastInspectionDate.Format "2006-01-02"}}' name="last_inspection_date"
                    required>
            </div>
        </h6>
        <h6 class="s12 row">Наступний <div class="max"></div>
            <div class="field small no-margin s12 l4">
                <input type="date" value='{{.NextInspectionDate.Format "2006-01-02"}}' name="next_inspection_date"
                    required>
            </div>
        </h6>
    </form>
</article>
{{ end }}

{{ define "privileges" }}
<article class="round s12 l6">
    <div class="grid">
        <button class="button s6"
            _="on click add .active to <div.overlay/> in #add-privilege-dialog then add .active to <dialog/> in #add-privilege-dialog">
            <i>add</i>
            <span>Додати пільгу</span>
        </button>
        <h5 class="s6 right-align middle-align">
            Пільги
        </h5>
        <hr class="s12">
        <div class="s12 grid scroll no-round middle-height" id="privileges">
            {{ range . }}
            {{ template "privilege" . }}
            {{ end }}
        </div>
    </div>
</article>
{{ end }}

{{ define "privilege" }}
<div class="s12 grid" id="privilege-info-{{.PrivilegeID}}">
    <details class="s12">
        <summary class="none">
            <nav>
                <nav clas="row">
                    <i>arrow_drop_down</i>
                    <h6 class="">
                        {{.Type}}
                    </h6>
                </nav>
                <div class="max"></div>
                <nav class="right-align">
                    <progress id="i-p-{{.PrivilegeID}}" class="s12 circle small htmx-indicator"></progress>

                    <button class="circle error delete"
                        _="on click hide <button.delete/> in closest <nav/> then show <button.confirm/> in closest <nav/>"
                        data-loading-disable>
                        <i>delete</i>
                    </button>

                    <button class="circle confirm secondary" style="display: none;"
                        _="on click hide <button.confirm/> in closest <nav/> then show <button.delete/> in closest <nav/>">
                        <i>close</i>
                    </button>

                    <button class="circle error confirm" id="delete-{{.PrivilegeID}}" data-loading-disable
                        hx-delete="/students/privileges/{{.PrivilegeID}}" hx-target="#privilege-info-{{.PrivilegeID}}"
                        hx-swap="outerHTML" hx-indicator="#i-p-{{.PrivilegeID}}" style="display: none;"
                        _="on click hide <button.confirm/> in closest <nav/> then show <button.delete/> in closest <nav/>">
                        <i>check</i>
                    </button>

                    <button class="button circle s12" hx-get="/students/privileges/{{.PrivilegeID}}/edit"
                        hx-target="#privilege-info-{{.PrivilegeID}}" hx-swap="outerHTML">
                        <i>edit</i>
                    </button>
                </nav>
            </nav>
        </summary>
        <p class="left-margin large-margin">
            {{if .ExpirationDate }}
            до {{.ExpirationDate.Format "2006-01-02"}}
            {{else}}
            Безстроково
            {{end}}
            <br>
            {{.Description}}
        </p>
    </details>
    <hr class="s12" />
</div>
{{ end }}

{{ define "privilege-edit" }}
<div class="s12 grid" id="privilege-info-{{.PrivilegeID}}">
    <form class="s12" hx-put="/students/privileges/{{.PrivilegeID}}"
        hx-vals='{"privilege_ID": "{{.PrivilegeID}}", "student_ID": "{{.StudentID}}"}'
        hx-target="#privilege-info-{{.PrivilegeID}}" hx-swap="outerHTML">
        <div class="grid">
            <div class="s6 field small no-margin">
                <input type="text" name="type" value="{{.Type}}" required>
            </div>
            <div class="s6 field small no-margin">
                <input type="date" name="expiration_date" value='{{.ExpirationDate.Format "2006-01-02"}}' required>
            </div>
            <div class="s12 field small no-margin">
                <input type="text" name="description" value="{{.Description}}" required>
            </div>
        </div>

        <div class="right-align buttons grid">
            <button class="error button s6" hx-get="/students/privileges/{{.PrivilegeID}}/info"
                hx-target="#privilege-info-{{.PrivilegeID}}" hx-swap="outerHTML">
                <i>close</i>
                <span>Відмінити</span>
            </button>
            <button class="button s6" submit>
                <i>check</i>
                <span>Застосувати</span>
            </button>
            <div class="max"></div>
        </div>
    </form>
    <hr class="s12" />
</div>
{{ end}}

{{ define "add-privilege-dialog" }}
<div id="add-privilege-dialog" _="
    on closeDialog or htmx:afterOnLoad
            remove .active from <div.overlay/> in #add-privilege-dialog
            then
            remove .active from <dialog/> in #add-privilege-dialog 
    end
">
    <div class="overlay blur" _="on click trigger closeDialog"></div>
    <dialog>
        <nav>
            <h5>Додати пільгу</h5>
            <div class="max"></div>
            <button class="error circle small" data-loading-disable
                _="on click trigger closeDialog"><i>close</i></button>
        </nav>
        <form hx-post="/students/privileges" hx-vals='{"student_ID": "{{.Student.StudentID}}"}' hx-swap="afterbegin"
            hx-target="#privileges" autocomplete="false">
            <fieldset class="round grid">
                <div class="field label border small round s12">
                    <input type="text" name="type" required>
                    <label>Вид пільги</label>
                </div>

                <div class="field label border small round s12">
                    <input type="date" name="expiration_date" required>
                    <label>Дата завершення</label>
                </div>

                <div class="field label border small round s12">
                    <input type="text" name="description" required>
                    <label>Опис</label>
                </div>

                <nav class="row s12">
                    <div class="max"></div>
                    <button class="align-right" type="submit">Додати</button>
                </nav>
            </fieldset>
        </form>
    </dialog>
</div>
{{ end }}

{{ define "stats" }}
<article class="s12">
    <nav class="row">
        <h5>Статистика</h5>
        <div class="max"></div>
        <button onclick="location.href='/students/print/grades/{{(index . 0).StudentID}}';">
            <i>print</i><span>Роздрукувати</span>
        </button>
    </nav>
    <hr class="max small-margin" />
    <table class="border">
        <thead>
            <tr>
                <th>
                    <h6 class="small bold">Предмет</h6>
                </th>
                <th>
                    <h6 class="small bold">Всього занять</h6>
                </th>
                <th>
                    <h6 class="small bold">Занять пропущено</h6>
                </th>
                <th>
                    <h6 class="small bold">Підсумкова оцінка</h6>
                </th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>
                <td><a href="/subjects/{{.SubjectID}}" class="link active underline">{{.SubjectTitle}}</a></td>
                <td>{{.TotalLessons}}</td>
                <td>{{.Visits}}</td>
                <td>{{printf "%.1f" .Grade}}</td>
                {{ end }}
        </tbody>
    </table>
</article>
{{ end }}
