{{ define "base" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Teacher Helper</title>
    <link rel="icon" type="image/x-icon" href="/images/school.png?version={{version}}">

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>

    <!-- beer css -->
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.7.10/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.7.10/dist/cdn/beer.min.js"></script>

    <!-- other styles and scripts -->
    <link href="/css/shared.css?version={{version}}" rel="stylesheet">
</head>

<body hx-ext="loading-states">
    {{ template "nav" .Links }}
    {{ template "content" . }}
</body>

</html>
{{ end }}

{{ define "nav" }}
<nav class="left background" id="pages">
    {{ range . }}
    {{ template "link" . }}
    {{ end }}
</nav>
{{ end }}

{{ define "link" }}
<a {{ if .Active }}class="link" {{end}}id="{{.Id}}" href="{{.Path}}">
    <i>{{.Icon}}</i>
    <div>{{.Title}}</div>
</a>
{{ end }}
