{{ define "base.html" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Class Manager</title>
    <link rel="icon" type="image/x-icon" href="/images/school.png">

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>

    <!-- beer css -->
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.7.10/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.7.10/dist/cdn/beer.min.js"></script>

    <!-- other styles and scripts -->
    <link href="/css/shared.css?version={{version}}" rel="stylesheet">
</head>

<body hx-ext="loading-states">
    {{ template "content" . }}
</body>

</html>
{{ end }}
