:root,
body.dark {
    --primary: #9ed75b;
    --on-primary: #1e3700;
    --primary-container: #2e4f00;
    --on-primary-container: #b9f474;
    --secondary: #bfcbad;
    --on-secondary: #2a331e;
    --secondary-container: #404a33;
    --on-secondary-container: #dbe7c8;
    --tertiary: #a0d0cc;
    --on-tertiary: #003735;
    --tertiary-container: #1f4e4b;
    --on-tertiary-container: #bbece8;
    --error: #ffb4ab;
    --on-error: #690005;
    --error-container: #93000a;
    --on-error-container: #ffb4ab;
    --background: #1b1c18;
    --on-background: #e3e3db;
    --surface: #121410;
    --on-surface: #e3e3db;
    --surface-variant: #44483d;
    --on-surface-variant: #c5c8ba;
    --outline: #8e9285;
    --outline-variant: #44483d;
    --shadow: #000000;
    --scrim: #000000;
    --inverse-surface: #e3e3db;
    --inverse-on-surface: #30312c;
    --inverse-primary: #3e6a00;
    --surface-dim: #121410;
    --surface-bright: #383a35;
    --surface-container-lowest: #0d0f0b;
    --surface-container-low: #1b1c18;
    --surface-container: #1f201c;
    --surface-container-high: #292a26;
    --surface-container-highest: #343530;
}

body.light {
    --primary: #3e6a00;
    --on-primary: #ffffff;
    --primary-container: #b9f474;
    --on-primary-container: #0f2000;
    --secondary: #576249;
    --on-secondary: #ffffff;
    --secondary-container: #dbe7c8;
    --on-secondary-container: #151e0b;
    --tertiary: #386663;
    --on-tertiary: #ffffff;
    --tertiary-container: #bbece8;
    --on-tertiary-container: #00201e;
    --error: #ba1a1a;
    --on-error: #ffffff;
    --error-container: #ffdad6;
    --on-error-container: #410002;
    --background: #fdfcf5;
    --on-background: #1b1c18;
    --surface: #fafaf2;
    --on-surface: #1b1c18;
    --surface-variant: #e1e4d5;
    --on-surface-variant: #44483d;
    --outline: #75796c;
    --outline-variant: #c5c8ba;
    --shadow: #000000;
    --scrim: #000000;
    /* --inverse-surface: #30312c; */
    --inverse-surface: #7F7F7F;
    --inverse-on-surface: #f2f1e9;
    --inverse-primary: #9ed75b;
    --surface-dim: #dbdad3;
    --surface-bright: #fafaf2;
    --surface-container-lowest: #ffffff;
    --surface-container-low: #f5f4ec;
    --surface-container: #efeee7;
    --surface-container-high: #e9e8e1;
    --surface-container-highest: #e3e3db;
}

.screen {
    width: 100%;
    padding: 50px 40px 60px 40px;
    aspect-ratio: 16/9;
    background-image: url('/images/screen.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.scales {
    width: 100%;
    /* padding: 130px 40px 60px 40px; */
    aspect-ratio: 25/9;
    background-image: url('/images/scales.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: grid !important;
    justify-items: center !important;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
    gap: 10px !important;
}

.item {
    aspect-ratio: 1/1;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}
