main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: max-content;
    grid-gap: 10px;
    position: relative;
}

#films_aside {
    grid-row: 1 / 8;
    width: 100%;
    grid-column: 2;
    position: relative;
    left: 2%;
}

.film {
    grid-column: 1;
    width: 100%;
    background-color: var(--surface);
    height: 75px;
    border-radius: 20px;
    cursor: pointer;
}

.prev {
    background-color: var(--overlay);
    width: 100%;
    right: 0;
    height: 75px;
    grid-column: 2;
    border-radius: 20px;
    position: absolute;
    transition: height 0.5s ease, transform 0.5s ease, opacity 0.7s ease;
    display: grid;
    grid-template-rows: 4fr 1fr;
}

/* film1 {{{ */
    #film1_prev {
        top: calc(85px * 0);
    }
    #film1:hover ~ aside #film1_prev {
        transform: translateY(calc(-85px * 0));
    }     
/* }}} */


/* film2 {{{ */
    #film2_prev {
        top: calc(85px * 1);
    }
    #film2:hover ~ aside #film2_prev {
        transform: translateY(calc(-85px * 1));
    }     
/* }}} */


/* film3 {{{ */
    #film3_prev {
        top: calc(85px * 2);
    }
    #film3:hover ~ aside #film3_prev {
        transform: translateY(calc(-85px * 2));
    }     
/* }}} */


/* film4 {{{ */
    #film4_prev {
        top: calc(85px * 3);
    }
    #film4:hover ~ aside #film4_prev {
        transform: translateY(calc(-85px * 3));
    } 
/* }}} */


/* film5 {{{ */
    #film5_prev {
        top: calc(85px * 4);
    }
    #film5:hover ~ aside #film5_prev {
        transform: translateY(calc(-85px * 4));
    }
/* }}} */


/* film6 {{{ */
    #film6_prev {
        top: calc(85px * 5);
    }
    #film6:hover ~ aside #film6_prev {
        transform: translateY(calc(-85px * 5));
    }
/* }}} */


/* film7 {{{ */
    #film7_prev {
        top: calc(85px * 6);
    }
    #film7:hover ~ aside #film7_prev {
        transform: translateY(calc(-85px * 6));
    }
/* }}} */

#film1:hover ~ aside #film1_prev, 
#film2:hover ~ aside #film2_prev, 
#film3:hover ~ aside #film3_prev, 
#film4:hover ~ aside #film4_prev, 
#film5:hover ~ aside #film5_prev, 
#film6:hover ~ aside #film6_prev, 
#film7:hover ~ aside #film7_prev
{
    height: min(100%, 75vh);
    z-index: 2;
    position: absolute;
}

#film1:hover ~ aside .prev:not(#film1_prev), 
#film2:hover ~ aside .prev:not(#film2_prev), 
#film3:hover ~ aside .prev:not(#film3_prev), 
#film4:hover ~ aside .prev:not(#film4_prev), 
#film5:hover ~ aside .prev:not(#film5_prev), 
#film6:hover ~ aside .prev:not(#film6_prev),
#film7:hover ~ aside .prev:not(#film7_prev)
{
    opacity: 0;
}


/* pager {{{ */
    #pager {
        margin: 10px 25px 0 25px;
        grid-row: 8;
        grid-column: 1 / 4;
        display: block;
        background-color: black;
        flex-direction: row;
        border-radius: 20px;
    }

    #pager ul {
        list-style: none;
        display: flex;
        border-radius: 20px;
    }

    #pager li {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        position: relative;
    }

    #pager a {
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--surface);
        text-decoration: none;
        transition: background-color 0.2s ease;
        text-align: center;
        border: 2px solid var(--base);
        border-bottom: none;
        border-top: none;
        color: var(--text);
    }

    #pager #page1 a {
        border-radius: 7px 0 0 7px;
        border-left: none;
    }

    #pager #page5 a {
        border-radius: 0 7px 7px 0;
        border-right: none;
    }

    #pager a:hover {
        background-color: var(--overlay);
    }

    #pager .curr {
        font-weight: 700;
        text-decoration: underline;
    }
/* }}} */

.film {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.film p, .film a {
    left: 10px;
}

.film .title {
    width: 100%;
    height: 100%;
    font-size: x-large;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    grid-row: 1 / 4;
    position: absolute;
    top: 5px;
}

.film .description {
    font-size: medium;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    grid-row: 3;
    position: absolute;
    bottom: 10px;
}


.poster {
    width: 100%;
    max-height: 75px;
    border-radius: 20px;
    transition: max-height 0.3s ease-out;
    object-fit: cover;
    object-position: 0 -75px;
    position: absolute;
}

#film1:hover ~ aside #film1_prev .poster,
#film2:hover ~ aside #film2_prev .poster,
#film3:hover ~ aside #film3_prev .poster,
#film4:hover ~ aside #film4_prev .poster,
#film5:hover ~ aside #film5_prev .poster,
#film6:hover ~ aside #film6_prev .poster,
#film7:hover ~ aside #film7_prev .poster
{
    /* position: relative; */
    max-height: 100%;
    transition: max-height 0.3s ease-in;
    object-position: 0 0;
}

.prev .gradient { 
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8660508083140878) 0%, rgba(0,0,0,0.5334872979214781) 50%, rgba(0,0,17,0) 100%);     
}

.prev .description {
    margin: 7px 0 0 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    font-size: large;
    transition: overflow 0.5s ease;
    color: var(--text);
    z-index: 2;
}

#film1:hover ~ aside #film1_prev .description,
#film2:hover ~ aside #film2_prev .description,
#film3:hover ~ aside #film3_prev .description,
#film4:hover ~ aside #film4_prev .description,
#film5:hover ~ aside #film5_prev .description,
#film6:hover ~ aside #film6_prev .description,
#film7:hover ~ aside #film7_prev .description
{
    overflow: unset;
    white-space: unset;
}

.prev .gradient {
    grid-column: 1;
    grid-row: 1/4;
}

.prev .poster {
    grid-column: 1;
    grid-row: 1;
}

.prev .description {
    grid-column: 1;
    grid-row: 3;
    margin-bottom: 10px;
}

@media (max-width: 768px) or (max-height: 460px) {
    .film {
        grid-column: 1 / 4;
    }

    main aside {
        display: none;
    }

    
}