body {
    background-image: url(/src/trash/gradient.jpg);
}

.title {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

main section {
    height: fit-content;
    align-items: center;
    justify-content: center;
}

#disappearing_image {
    width: 75px;
    height: 75px;
    position: absolute;
    z-index: 4;
}

/* section -1 {{{ */
    #changeSizeForm {
        justify-items: center;
        text-align: left;
        font-size: medium;
        font-weight: lighter;
        color: var(--subtext);
        display: grid;
        grid-template-columns: 1fr 60px;
    }

    section#section_-1 * {
        margin: 2px;
    }

    section#section_-1 p, section#section_-1 input#send_button {
        grid-column: 1 / 3;
        text-align: center;
    } 

    section#section_-1 input#send_button {
        width: 60%;
    }

    section#section_-1 #size_input {
        width: 100%;
    }
    
    section#section_-1 #text_input {
        width: 95%;
    }

    #colored_square {
        box-sizing: border-box;
        width: 100%;
        height: 150px;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #colored_square #buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .color_button {
        width: 25px;
        height: 75px;
        border-radius: 10px;
    }

    .color_button#red {
        background-color: red;
    }
    .color_button#green {
        background-color: green;
    }
    .color_button#yellow {
        background-color: yellow;
    }
    .color_button#blue {
        background-color: blue;
    }
    .color_button#pink {
        background-color: pink;
    }

    #square {
        width: 75px;
        height: 75px;
        background-color: red;
    }

    #colored {
        max-width: 100%;
    }

/* }}} */

/* section 1 {{{ */

    section#section_1 {
        display: grid;
        grid-template-rows: 10% 1fr;

    }

    section#section_1 h1 {
        grid-row: 1;
    }

    div#article_section {
        grid-row: 2;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    article#fun_1 {
        display: block;
        width: 100%;
    }

    div#cat{
        grid-row: 1 / 4;
        grid-column: 2;
    }

    div#cat video {
        width: 100%;
    }

    #clock {
        font-size: xxx-large;
    }

    #change_p_button {
        width: 100px;
        height: 25px;
    }

/* }}} */

/* section 2 {{{ */
    section#section_2 table {
        width: 100%;
        border: 1px solid var(--accent1);
    }
    
    section#section_2 table td{
        text-align: center;
        border: 1px solid var(--accent2);
    }
/* }}} */

/* section_3 {{{ */
    section#section_3 ul li ol {
        padding-left: 50px;
    }
/* }}} */

/* section_4 {{{ */
    section#section_4 {
        width: 100%;
        height: fit-content;
        margin: 10px 0;
    }

    section#section_4 iframe {
        border: none;
        width: 100%;
        height: 50vh;
    }
/* }}} */

/* section_5 {{{ */
    section#section_5 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 0.2fr 1fr;
        justify-content: center;
        align-items: center;
        /* grid-gap: 10px; */
        
    }

    section#section_5 video {
        grid-row: 2;
        grid-column: 1;
        width: 100%;
    }

    section#section_5 audio {
        grid-row: 2;
        grid-column: 3;
        width: 100%;
    }

    section#section_5 h1 {
        grid-row: 1;
        grid-column: 1 / 4;
    }
/* }}} */


/* section 6 {{{ */
    #section_6 {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #spiral {
        width: 315px;
        height: 510px;
        display: grid;
        grid-template-columns: repeat(21, 15px);
        grid-template-rows: repeat(34, 15px);
    }
    #spiral > * {
        position: relative;
        overflow: hidden;
    }
    .circle {
        position: absolute;
        width: 200%;
        height: 200%;
        border: 2px solid var(--overlay);
        border-radius: 50%;
    }
    #circle1 {
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
    }
    #circle2 {
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%);
    }
    #circle3 {
        bottom: 0;
        left: 0;
        transform: translate(-50%, 50%);
    }
    #circle4 {
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
    }
    #circle5 {
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
    }
    #circle6 {
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%);
    }
    #circle7 {
        bottom: 0;
        left: 0;
        transform: translate(-50%, 50%);
    }
    #circle8 {
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
    }
    
    #section_6 * {
        box-sizing: border-box;
    }
    
    
/* }}} */


@media (max-width: 768px) {
    section#section_5 {
        grid-template-columns: 1fr 0 0;
    }

    section#section_5 video {
        /* display: flex; */
        grid-column: 1;
        grid-row: 2;
        width: 100%;
    }

    section#section_5 audio {
        grid-row: 3;
        grid-column: 1;
        width: 100%;
    }
}
